<html>

<%- include('../partials/header.ejs'); %>

<body>

    <%- include('../partials/navbar.ejs'); %>

    
</body>

<div class="container pt-3">

    <h3 class="mt-2 mb-2 text-center">Tela Inicial</h3>
  
</div>


<%- include('../partials/footer.ejs'); %>


</html>
